body {
  background-color: lightsteelblue;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 390px;
}

.title {
  display: flex;
  font-family: Impact, sans-serif;
  justify-content: center;
}

.login-button {
  background-color: rgb(49, 196, 49);
  border-radius: 9px;
  color: white;
  width: 70px;
}

form {
  background-color: rgba(83, 20, 20, 0.164);
}
