* {
  box-sizing: border-box;
  font-family: Nunito, sans-serif;
  margin: 0;
  padding: 0;
}

/* Wallet Header */
.wallet__header {
  align-items: center;
  background-color: royalblue;
  display: flex;
  padding: 10px 40px;
}

.wallet__header h2 {
  margin-right: auto;
}

.wallet__header span {
  margin-right: 14px;
}

/* Wallet Form */
.wallet__form {
  align-items: center;
  background-color: cornflowerblue;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 8px;
}

.wallet__form label {
  align-items: center;
  display: flex;
  gap: 4px;
}

/* .wallet__form > * {
  flex: 2;
} */

.wallet__form label input , .wallet__form label select {
  border: 1px solid hsl(0, 0%, 35%);
  border-radius: 2px;
  padding: 6px 8px;
}

.wallet__form button {
  align-self: stretch;
  border: 1px solid hsl(0, 0%, 20%);
  box-shadow: 2px 2px 2px hsl(0, 0%, 20%);
  font-weight: 600;
  padding: 0 10px;
  transition: 100ms;
}

.wallet__table button {
  padding: 6px 10px;
}

.wallet__form button:hover {
  background-color: aquamarine;
  cursor: pointer;
}

.wallet__form button:active {
  box-shadow: 0 0 hsl(0, 0%, 20%);
  transform: scale(0.95);
}

/* Wallet Table */
.wallet__table {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.wallet__table thead tr , .wallet__table tbody tr {
  display: flex;
  justify-content: space-around;
  padding: 0 0 6px;
}

.wallet__table thead th , .wallet__table tbody td {
  text-align: center;

  /* flex: 1; */
}
