* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Nunito, sans-serif;
}

/* Wallet Header */

.wallet__header {
  display: flex;
  background-color: royalblue;
  align-items: center;
  padding: 10px 40px;
}

.wallet__header h2 {
  margin-right: auto;
}

.wallet__header span {
  margin-right: 14px;
}

/* Wallet Form */

.wallet__form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 8px;
  background-color: cornflowerblue;
}

.wallet__form label {
  display: flex;
  align-items: center;
  gap: 4px;
}

/* .wallet__form > * {
  flex: 2;
} */

.wallet__form label input,
.wallet__form label select {
  padding: 6px 8px;
  border: 1px solid hsl(0, 0%, 35%);
  border-radius: 2px;
}

.wallet__form button {
  align-self: stretch;
  border: 1px solid hsl(0, 0%, 20%);
  padding: 0 10px;
  transition: 50ms;
  box-shadow: 2px 2px 2px hsl(0, 0%, 20%);
  font-weight: 600;
}

.wallet__form button:hover {
  cursor: pointer;
  background-color: aquamarine;
}

.wallet__form button:active {
  transform: scale(.95);
  box-shadow: 0 0 hsl(0, 0%, 20%);
}

/* Wallet Table */

.wallet__table {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.wallet__table thead tr,
.wallet__table tbody tr {
  display: flex;
  justify-content: space-around;
  padding: 0 0 6px 0;
}

.wallet__table thead th,
.wallet__table tbody td {
  text-align: center;
  /* flex: 1; */
}

.wallet__table button {
  padding: 6px 10px;
}