.wallet-container {
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
}

.wallet-container > header {
  background-color: rgb(254, 254, 254);
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.wallet-container > header > img {
  margin: 0.2rem 0 0.2rem 0.4rem;
  width: 20%;
}

.wallet-container > header > div {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 40%;
}

.wallet-container > form {
  align-items: center;
  background-color: rgb(38, 43, 51);
  color: whitesmoke;
  display: flex;
  flex-direction: row;
  height: 3.7rem;
  justify-content: space-around;
  width: 100%;
}

.wallet-container > form input {
  border: 0;
  border-radius: 0.3rem;
  height: 0.6rem;
  margin: 0.2rem 0.4rem;
  outline: 0;
  padding: 0.65rem 0.6rem 0.55rem;
  text-align: center;
}

.wallet-container > form label:nth-child(1) input {
  width: 3rem;
}

.wallet-container > form label:nth-child(2) input {
  width: 14rem;
}

.wallet-container > form > button {
  background-color: rgb(0, 121, 252);
  border: 0;
  border-radius: 0.3rem;
  height: fit-content;
  margin: 0.4rem 0;
  outline: 0;
  padding: 0.4rem 0.5rem;
  text-align: center;
}

.wallet-container > form > button:hover {
  background-color: rgb(0, 104, 217);
  transition: 0.1s ease-in-out;
}

.wallet-container > form > label > select {
  border: 0;
  border-radius: 0.3rem;
  height: fit-content;
  margin: 0.2rem 0.4rem;
  outline: 0;
  padding: 0.3rem;
  text-align: center;
}

.expenses-table {
  background-color: rgb(50, 57, 62);
  width: 100%;
}

.expenses-table > thead {
  background-color: rgb(50, 57, 62);
  color: whitesmoke;
  height: 2.4rem;
  margin: 0;
  text-align: center;
  width: 100%;
}

.expenses-table > thead > tr {
  margin: 0;
  width: 100%;
}

.expenses-table > tbody {
  background-color: rgb(61, 69, 74);
  border: none;
  color: whitesmoke;
  height: 2rem;
  margin: 0;
  text-align: center;
  width: 100%;
}

.expenses-table > tbody > tr {
  height: 2rem;
  margin: 0;
  width: 100%;
}

.expenses-table > tbody > tr button {
  height: 1.8rem;
  width: 30%;
}

.expenses-table button img {
  height: 90%;
  margin-top: 0.05rem;
}

tbody td > button:nth-child(1) {
  background-color: rgb(253, 192, 5);
}

tbody td > button:nth-child(2) {
  background-color: rgb(221, 54, 67);
}
