header {
  align-items: center;
  background-color: #e07a5f;
  color: #f4f1de;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 1323px;
}

.header-logo {
  background-color: #e07a5f;
  padding: 15px 30px;
  width: 200px;
}

.header-info {
  background-color: #e07a5f;
  display: flex;
  flex-direction: row;
  font-weight: 600;
  padding: 0 40px;
}

.info-item {
  background-color: #e07a5f;
  margin-left: 50px;
}
