.header-container {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  align-items: center;
  margin-bottom: 24px;
}

.header-title {
  font-size: 32px;
}

.header-info {
  display: flex;  
  gap: 50px;
}