thead , tfoot {
  background-color: #3f87a6;
  color: white;
}

tbody {
  background-color: #e4f0f5;
}

table {
  border: 2px solid black;
  font-family: sans-serif;
  letter-spacing: 1px;
  margin: auto;
}
