.wallet-page {
  display: flex;
  flex-direction: column;
}

.header-container {
  border: 1px solid black;
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  align-items: baseline;
}

.email {
  margin: 0 5px;
}

.expenses {
  margin: 0 5px;
}

.currency {
  margin: 0 5px;
}

.fieldset-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
}

#add-button {
  margin: 10px auto;
}