.App {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* .divApp h1{
  position: relative;
  text-align: center;
  font-size: 70px;
} */

.Login {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 10px;
  align-items: center;
  /* align-content: space-between; */
  margin-left: 540px;
  margin-top: 200px;
  width: 500px;
  height: 400px;
  background-color: aquamarine;
  border-radius: 20px;
}

.Login h1 {
  text-align: center;
}

.loginButton {
  margin: 25px;
  /* height: 60px; */
  min-width: 70px;
  
}

.inputField {
  margin: 10px;
  padding: 10px;
  min-width: 400px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.walletHeader {
  position: relative;
  display: flex;
  min-width: auto;
  justify-content: space-between;
  background-color: aquamarine;
}

.walletHeader h3 {
  margin-left: 30px;
}

.walletHeaderRight {
  position: relative;
  display: flex;
  flex-direction: row;
  min-width: auto;
  justify-content: space-between;
  /* padding: 30px; */
  /* margin-right: 20px; */
  background-color: blue;
  color:cornsilk;

}

.walletHeaderRight span {
  /* display: inline-block; */
  color: aquamarine;
  padding: 30px;
}

/* .email {
  position:relative;
  margin-right: 20px;
} */

/* .wallet h3 {
  display: inline;
} */

@media ( prefers-reduced-motion : no-preference ) {

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  align-items: center;
  background-color: #282c34;
  justify-content: space-between;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
