.login {
  align-self: center;
  background-color: rgb(231, 226, 226);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-top: 15%;
  padding: 4%;
  width: fit-content;
}

.login h1 {
  color: forestgreen;
  font-family: Impact, Haettenschweiler, sans-serif;
  font-size: 30px;
  padding: 3%;
}
